a {
  text-decoration: none;
  color: blue;
  font-family: Monospace;
  font-size: 12px;

}

a:hover {
  color: red;
}


h1 {
  font-family: Monospace;
  
}

body {
  font-family: Monospace;
  font-size: 12px;
  background-color: rgb(218, 255, 221);
}

table {
	background-color:white;
	border-radius:10px;
	padding:5px;
}

th, td {
	padding-right:10px;
}
pre {
	  font-family: Monospace;
      font-size: 12px;
}
