* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    /* <var()> = 
  var( <custom-property-name> , <declaration-value>? )  

    var() = bg = linear-gradient(90deg, #004d1a 10%, #009933 50%);*/


}

/*
:root{
  --bg: linear-gradient(90deg, #004d1a 10%, #009933 50%);
}
*/
body {
    /*  background: var(--bg); */
    background: linear-gradient(90deg, #004d1a 10%, #009933 50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

video {

    width: 94vw;
    height: auto;
}

table {
    border-collapse: collapse;
    background-color: #fcf4e8;
    display: inline-block;





}

tr:not(:first-child):hover {
    background-color: #ffdd99;
}

td,
th {
    font-family: "Roboto Mono";
    border-style: solid;
    border-color: #004d1a;
    border-width: 1px;
    padding: 2px;
    word-break: break-all;
    font-size: 14px;
}

th {
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
    border: none;
}

.table_background {

    margin-top: 10px;
    background-color: #fcf4e8;
    padding: 5px;
    border: none;
    border-radius: 5px;
    border-color: #fcf4e8;
    width: auto;

    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    align-items: center;

}

img:fullscreen {

    padding: 5px;
    background-image: linear-gradient(90deg, #004d1a 10%, #009933 50%);
}

.virustotal {
    width: 128px;
    height: 128px;
}

.appicon {
    width: 64px;
    height: 64px;
}

section figcaption,
article figcaption {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;

}

.flag {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flag img {
    width: 128px;
    height: 80px;

}


nav,
footer {
    font-family: "Public Sans";
}

header {
    width: 96vw;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;

    color: #fcf4e8;
    background-color: #336600;
    border-color: #336600;
    border-radius: 5px;
    font-family: "Roboto Slab";
    font-size: 24px;
    font-weight: 800;



}

header img {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
}





footer {


    width: 96vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 12px;
    height: 80px;
    background-color: #336600;
    padding: 10px;
    border: none;
    border-radius: 5px;

    color: #fcf4e8;
    align-self: center;
    margin-bottom: 2em;


}

.notmove {

    position: fixed;
    bottom: 100px;

    z-index: 0;
}

section,
article,
.scroll-content {
    font-family: "Roboto Slab";
    font-variation-settings: normal;
    font-weight: 400;
    font-size: 14px;
    background-color: #fcf4e8;
    ;
    width: auto;
    border: none;
    border-radius: 5px;
    padding: 3px;
    margin-top: 5px;
    width: 96vw;
    color: #264d00;

}



.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 96vw;

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;



}

.scroll-content {
    display: flex;
    justify-content: center;

}


.transparent {
    background-color: transparent;
    color: #fcf4e8;
}






/* button */

.btn-group {

    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;
    margin-top: 5px;


}

.btn-group .button {
    height: 50px;
    font-size: 16px;
    margin-top: 10px;
    background-color: green;
    border-radius: 5px;
    border-bottom-color: #003311;
    border-right-color: #003311;
    border-top-color: #00e64d;
    border-left-color: #00e64d;
    border-width: 6px;
    color: #fcf4e8;
    ;
    background-color: #336600;
    /* Green */
    border: 1px solid green;

    border-radius: 5px;
    margin: 3px;

    text-decoration: none;

    cursor: pointer;

    width: 10em;
    height: 4ex;

    display: flex;
    justify-content: center;
    align-items: center;


}

.btn-group .button:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}

.btn-group .button:hover {
    background-color: #3e8e41;
}

/* ancor */
a {

    text-decoration: none;
    color: blue;
}

a:hover {
    color: red;
}

.mono {
    font-family: "Roboto Mono";
    font-weight: 400;
    font-style: normal;
}

.serif {
    font-family: "Roboto Slab";
    font-variation-settings: normal;
    font-weight: 400;
    font-size: 14px;
}

h3 {

    font-family: "Roboto Slab";
    font-variation-settings: normal;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
}



.highlight {
    color: blue;
}

.highlight:hover {
    color: red;
    cursor: pointer;
}


figure,
figcaption {

    margin: 0;
}

ol {

    padding-left: 20px;
}

li {

    padding: 0;
    list-style-type: decimal;

}

#swish {
    /*
    width: 256px;
    height: 256px;
    */
    width: 200px;
    height: auto;

}

#paypal {
    width: 200px;
    height: auto;

}

.topmargin10 {
    margin-top: 10px;
}

.topmargin40 {
    margin-top: 40px;
}


::-moz-selection {
    /* Code for Firefox */
    color: black;
    background: yellow;
}

::selection {
    color: black;
    background: yellow;
}

.comment {

    height: 18em;
    font-size: 14px;

    z-index: 1;
}

#cpscript {
    color: blue;
    cursor: pointer;
}

#cpscript:hover {
    color: red;

}

.fet {
    font-weight: 600;
}

@media only screen and (min-width: 1280px) {



    .scroll-content {

        width: auto;



    }

    td,
    th {

        padding: 4px;

    }

    .table_background {
        overflow-x: hidden;

    }




}



@media only screen and (min-width: 1024px) {

    video {
        width: 100%;
        height: auto;
    }



    .content {
        flex-direction: row;
    }



    section {
        width: 40%;
    }

    .autowidth {
        width: auto;
    }



    article {
        width: 20%;
    }

    section,
    article {

        padding: 10px;
        margin: 10px;

    }

    header {

        font-size: 34px;




    }

    header img {
        margin-right: 40px;

    }



    .comment {

        height: 10em;

    }

}