


.post {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #336600;
    margin-bottom: 20px;
    border-color: #336600;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;

}

.post_detail {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 24px;
    width: 90vw;
    background-color: white;
    color: black;
    border-width: 1px;
    border-color: #336600;
    border-style: solid;
    padding-left: 4px;
    font-family: "Open Sans";
    font-size: 14px;


}


.content{

    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    margin-bottom: 30px;
}

@media only screen and (min-width: 1024px) {
    .post_detail {


        width: 40vw;



    }





}