
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
   background-color:#336600;
    width: 94vw;
    padding: 0;
}

.content{ 
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 94vw;
    box-sizing: border-box;
   
  
   
    margin-top: 20px;
  
    padding: 0;
    background-color:#336600;
    
   
    
}
input[type='text'],textarea{
    width:92vw;
}



/*
.notice{
   
   
    white-space: pre-wrap;
    
}
*/
.rubrik_background{
    background-color: #336600;
    color:white;
    
}

@media only screen and (min-width: 1024px) {


    .content {
        width: 80vw;
    }

    .container{
 
        width: 80vw;
    }


}