html,
body {
    box-sizing: border-box;

    max-width: 100vw;

    font-family: "Open Sans";
    background-image: linear-gradient(90deg, #004d1a 10%, #009933 50%);


}



body {

   /* overflow-x: hidden; */
    background-color: #009933;
overflow: scroll;
    display: flex;
    flex-direction: column;



}

img {
    width: 100%;
    height: auto;
}

img:fullscreen{

    padding: 5px;
    background-image: linear-gradient(90deg, #004d1a 10%, #009933 50%);
    border:none;
}

.logo {
    width: 30vw;
    padding: 10px;
    border-radius: 5px;
}

.frontimage {
    margin-top: 30px;
    border-radius: 5px;
}

.windcorp {

    width: 20vw;
}

.container {
    margin-top: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;




}

header {

    display: flex;
    align-self: center;
    margin-top: 10px;
    width: 94vw;
    background-color: #336600;
    border-color: #336600;
    border-radius: 5px;
    font-family: "Andada Pro";

}

footer {

    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    height:120px;
    font-size: 12px;
    height: 80px;
    background-color: #336600;
    padding: 10px;
    border: none;
    border-radius: 5px;

    color: white;
    align-self: center;
    margin-bottom: 4em;



}

.footer_loggin{

    height:130px;
}

#welcome {

    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 5px;
    padding-right: 5px;

    font-size: 5vw;
    font-weight: 600;
    width: 50em;
    color: white;
}

nav {

    display: flex;
    justify-content: center;
    margin-top: 5px;

}

/* naviation */

/* button */

.btn-group {

    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;
    margin-top: 5px;


}

.btn-group .button {
    width: 200px;
    height: 50px;
    font-size: 16px;
    margin-top: 10px;
    background-color: green;
    border-radius: 5px;
    border-bottom-color: #003311;
    border-right-color: #003311;
    border-top-color: #00e64d;
    border-left-color: #00e64d;
    border-width: 6px;
    color: white;
    background-color: #336600;
    /* Green */
    border: 1px solid green;

    border-radius: 5px;
    color: white;
    margin: 3px;

    text-decoration: none;

    cursor: pointer;

    width: 7em;
    height: 4ex;

    display: flex;
    justify-content: center;
    align-items: center;


}

.btn-group .button:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}

.btn-group .button:hover {
    background-color: #3e8e41;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: red;
}

.attention {
    font-weight: 900;
    font-size: 16px;
    color: white;

    display: flex;
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 4px;

}

.stor {
    font-weight: 1200;
    font-size: 20px;
    padding-bottom: 10px;




}

.mailto {
    color: white;
}



input[type=submit] {

    width: 200px;
    height: 50px;
    font-size: 16px;
    margin-top: 10px;
    background-color: green;
    border-radius: 5px;
    border-bottom-color: #003311;
    border-right-color: #003311;
    border-top-color: #00e64d;
    border-left-color: #00e64d;
    border-width: 6px;
    color: white;
    background-color: #336600;
    /* Green */
    border: 1px solid green;

    border-radius: 5px;
    color: white;
    margin: 3px;

    text-decoration: none;

    cursor: pointer;

    width: 9em;
    height: 4ex;
    margin-top: 10px;
}

input[type=submit]:hover {

    background-color: #3e8e41;

}

label {
    color: white;
    font-size: 18px;
    font-family: "Open Sans", Sans;
   /* font-style: italic; */
}

ol {
   
    padding-left: 17px;
}

li{
  
    padding: 0;
    list-style-type:decimal;
    
}

h4{
    margin-bottom: 3px;
}

::-moz-selection { /* Code for Firefox */
   color:black;
    background: yellow;
  }
  
  ::selection {
    color:black;
    background: yellow;
  }

@media only screen and (min-width: 1024px) {

    body {
        margin: 30px;
    }


    footer {

        width: 70vw;
        height: 120px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 16px;
        flex-direction: row;
        align-items: center;
        justify-self: center;

    }

  

    .frontimage {
        max-width: 70vw;
        display: flex;
        align-self: center;

    }


}