* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

   /* <var()> = 
  var( <custom-property-name> , <declaration-value>? )  

    var() = bg = linear-gradient(90deg, #004d1a 10%, #009933 50%);*/

    
}
/*
:root{
  --bg: linear-gradient(90deg, #004d1a 10%, #009933 50%);
}
*/
body {
  /*  background: var(--bg); */
    background:linear-gradient(90deg, #004d1a 10%, #009933 50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color:#264d00;
    background-color:#fcf4e8;
}

h3 {

    font-family: "Roboto Slab";
    font-variation-settings: normal;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}

p,li{
    font-size: 18px;
}

code{
    font-family: 'Roboto Mono';
}

img {
    width: 100%;
    height: auto;
    border: none;
}

img:fullscreen{

    padding: 5px;
    background-image: linear-gradient(90deg, #004d1a 10%, #009933 50%);
}

img .appimage{
    width:70px;
    height: auto;
}

.alllib{
    width:266px;
    height: auto;
}

.bottom-left{

     
        position: absolute;
        bottom: 0px;
        left: 0px;
      
}

section figcaption,
article figcaption {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;

}


nav,
footer {
    font-family: "Public Sans";
    background-color: transparent;
}

header {
    width: 96vw;
    display: flex;
    justify-content:center;
    align-items:center;

    margin-top: 10px;

    color:#fcf4e8;
    background-color: #336600;
    border-color: #336600;
    border-radius: 5px;
    font-family: "Roboto Slab";
    font-size: 24px;
    font-weight: 800;
   


}






footer {

    width: 96vw;
    display: flex;
    flex-direction: row;
 
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 14px;
    height: 80px;
    background-color: #336600;
    padding: 10px;
    border: none;
    border-radius: 5px;

    color: #fcf4e8;
    align-self: center;
    margin-bottom: 2em;


}

section
{
    font-family: "Roboto Slab";
    font-variation-settings: normal;
    font-weight: 400;
    font-size: 14px;
    background-color:#fcf4e8;
    width: auto;
    border: none;
    border-radius: 5px;
    padding: 3px;
    margin-top: 5px;
  
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 96vw;

}

.content {
    width:96vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;



}

.smal{
    box-sizing: border-box;
   align-self: center;
   width:96%
}
.big{
    box-sizing: border-box;
    align-self: center;
    width:96%;
    overflow: hidden;
  /*  white-space: nowrap; */
  
     
}
/*
.transparent {
    background-color: transparent;
    color: white;
}

*/




/* button */

.btn-group {

    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;
    margin-top: 5px;
    

}

.btn-group .button {
    width: 200px;
    height: 50px;
    font-size: 16px;
    margin-top: 10px;
    background-color: green;
    border-radius: 5px;
    border-bottom-color: #003311;
    border-right-color: #003311;
    border-top-color: #00e64d;
    border-left-color: #00e64d;
    border-width: 6px;
    color: #fcf4e8;
    background-color: #336600;
    /* Green */
    border: 1px solid green;

    border-radius: 5px;
    margin: 3px;

    text-decoration: none;

    cursor: pointer;

    width: 7em;
    height: 4ex;

    display: flex;
    justify-content: center;
    align-items: center;


}

.btn-group .button:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}

.btn-group .button:hover {
    background-color: #3e8e41;
}

/* ancor */
a {

    text-decoration: none;
    color: blue;
}

a:hover {
    color: red;
}






figure,
figcaption {

    margin: 0;
}




::-moz-selection {
    /* Code for Firefox */
    color: black;
    background: yellow;
}

::selection {
    color: black;
    background: yellow;
}





.highlight{
    color:blue;
}
.highlight:hover{
    color:red;
    cursor: pointer;
}


.row{
    display: flex;
    flex-direction: row;
    margin-top:5px;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;

}

ul{
    text-indent: 5px;
    list-style-type: none; /* Remove bullets */
   padding-bottom: 10px;
   font-style: italic;
}

@media only screen and (min-width: 1280px) {

    .content {
        flex-direction: row;
    }



   



    section,
    article {

        padding: 10px;
        margin: 10px;
     

    }

    header {
  
        font-size: 34px;
 
    
    
    
    }
    

    .big{
   
        
        align-self:flex-start;

    }
     
    
    
    .smal{

        
        width:40%;
        align-self:flex-start;
   
        
    }




}



@media only screen and (min-width: 1024px) {
    .smal{
            width:80%
    }

}