
*{
    font-family: "Roboto Mono";

}

body{
    background-color: green;
  
}

.content{
    
  
    background-color:white;
    border: none;
    border-radius: 5px;
    padding: 2px;
    display: flex;
    justify-content: center;

    

}
h3{
    padding-left:10px;
}
table{
    table-layout: fixed;
    width: 96vw;
}

table,tr,td{
    
    border-collapse: collapse;
}
td{
    padding: 2px;
    word-wrap: break-word;
 
    border: 1px solid;
   
 
}

tr:nth-child(even) {
    background-color: #ffdd99
  }

a{
    text-decoration: none;
}