@font-face {
  font-family: "Public Sans";
  src: url("../../fonts/PublicSans-Regular.ttf") format("truetype");

}


body {
  background-image: linear-gradient(90deg, #004d1a 10%, #009933 50%);
  margin: auto;
  display: flex;
  justify-content: center;
  color:#264d00;
 

}

.container {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color:#fcf4e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: "Public Sans", serif;
  font-size: 18px;


}


input[type=text],
textarea {
  width: 90vw;
  background-color: antiquewhite;
  display: block;
  margin-bottom: 20px;
  font-family: "Public Sans";
  font-size: 16px;

}

textarea {
 
  height: 200px;
}

input[type=text] {


  height: 30px;
}

input[type=submit] {
  width: 12em;
  height: 50px;
  font-size: 16px;
  margin-top: 10px;
  background-color: green;
  border-radius: 5px;
  border-bottom-color: #003311;
  border-right-color: #003311;
  border-top-color: #00e64d;
  border-left-color: #00e64d;
  border-width: 6px;
  color: white;
  background-color: #336600;
  /* Green */
  border: 1px solid green;

  border-radius: 5px;
  color: white;
  margin: 3px;
  text-decoration: none;
  cursor: pointer;
  height: 4ex;
  display: flex;
  justify-content: center;
  align-items: center;


}

input[type=submit]:hover {

  background-color: #3e8e41;

}

.rubrik {
  font-size: 22px;

}
::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: yellow;
}

::selection {
  color: black;
  background: yellow;
}
@media only screen and (min-width: 1024px) {
  input[type=text],
  textarea {
    width: 40vw;

  
  }

  .container {
    margin-top: 20px;
  }

}