.content {

    display: grid;
    margin: auto;
    grid-template-columns: 94vw;
    grid-gap: 10px;
    background-color: white;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-family: "Roboto Serif 36pt";
    width:96vw;
    
}

.left,
.middle,
.right {
    padding: 10px;

}


figcaption {
    font-family: "Roboto Serif 36pt";
}

img.fika {
    width: 256px;
    height: auto;
}

img.turnee8 {
    width: 256px;
    height: auto;
}

img.turnee11 {
    width: 256px;
    height: auto;
}



.left {
    display: flex;
    justify-content: center;
    align-items: center;


}



@media only screen and (min-width: 1024px) {

    .content {

        grid-template-columns: auto auto auto;
        font-size: 20px;

        


    }


    img{
        width:100%;
        height: auto;
    }

}