body {

    font-family: "Open Sans";
    background-color: #009933;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  

}

.list_users_events {
    box-sizing: border-box;

    width: 100vw;
    margin-top: 10px;
    
}



.list_users {

    width: 100vw;
    margin-top: 10px;
}

table {
    background-color: white;
    
}

table,
th,
td {
    box-sizing: border-box;

    border-collapse: collapse;

    font-size: 14px;
    word-wrap: break-word;




}




th {
    background: #336600;
    color: white;
    box-sizing: border-box;

    border: 1px solid;
    border-color: #009933;
    text-align: start;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2px;
}



td {
    padding: 2px;
    box-sizing: border-box;
    border: 1px solid;
    border-color: #009933;
    /* ipac 
     width: 50%; */
    padding: 2px;


}
/* ipac*/
td.first {
    width: 100%;
}



tr>td:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 68px;
    padding: none;
    border: none;
    
   

}

tr {

    min-height: 20px;
}

tr:hover {

    background-color: antiquewhite;
}


.run {
display: flex;

justify-content: center;
align-items: center;

    font-size: 14px;
    border: solid 1px;
    border-color: #009933;

    border-radius: 5px;

    color: white;
    background-color: #336600;




    text-decoration: none;

    cursor: pointer;

    width: 64px;
    height: 30px;


}

.run:hover {
    background-color: green;
}



caption {


    background-color: #336600;

    color: white;
    height: 20px;
    font-size: 16px;
    padding: 3px;

}





a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}

.ny {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
 
    height: 26px;
    padding: 40px;

}

.nyknapp {

    width: 140px;
    height: 26px;
    font-size: 14px;
}



@media only screen and (min-width: 1024px) {

  
 
    .list_users_events,.list_users {

        width: 80vw;
   
    }
  

   

  

    
}