.btn-group {

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.container {

    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-start;
    background-color:transparent;

    border: none;

    color: white;
    font-size: 16px;

    margin-top: 10px;


}

.content {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-start;
    align-items:center;

    width: 94vw;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color:#336600;
    margin: auto;
    padding: 10px;
  



}

.event_members{

    width: 96vw;
    color: #336600;
  border:none;
  border-radius: 5px;
    
}

.ny {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 20px;



}

.nyknapp {

    width: 140px;
    height: 26px;
    font-size: 14px;
}

.run {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    border: solid 1px;
    border-color: #009933;

    border-radius: 5px;

    color: white;
    background-color: #336600;




    text-decoration: none;

    cursor: pointer;

    width: 128px;
    height: 30px;


}

.run:hover {
    background-color: green;
}


input[type='text'],
textarea {
    width: 98%;
    font-size: 16px;
      pointer-events: auto;
    font-family: "Open Sans";

}

textarea {
    height: 16em;
    scroll-margin-inline: initial;
    pointer-events: auto;
    font-family: "Open Sans";
}

.rubrik {

    font-style: italic;
    font-weight: 600;
}

@media only screen and (min-width: 1024px) {


    .container {
        width: 60vw;

       

    }

    .content {

      
        margin-top: 20px;
        background-color:#336600;
        padding: 5px;
        border:none;
        border-radius: 5px;
        width: 60vw;
       



    }

    .event_members{

        width: 60vw;
        
   
        
    }


}