#detail {
    display: flex;
    flex-direction: column;
    align-self: center;
   
    justify-content: space-around;
    align-items: center;
    font-family: "Public Sans", "Sans";
    font-size: 16px;
    background-color: #336600;

    color: white;
   
    padding: 30px;
    border-radius: 5px;
    /* line-height: 2;*/
}

.attention{
    font-weight:900;
    font-size: 16px;
    color:white;
 
    margin-bottom: 20px;
    margin-left: 0;
    display:flex;
    justify-self: center;
  
    
}

/* CHECKBOX */
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* END CHECKBOX */
label {
    margin-right: 10px;
}

input[type=text],
input[type=password] {

    display: block;
    margin-bottom: 10px;
    width: 200px;
    height: 20px;
    font-size: 16px;

}



@media only screen and (min-width: 1024px) {
    #detail {
        width: 40vw;
    }

  

}