

@font-face {
  font-family: "Roboto Serif 36pt";
  src:


    url("../fonts/RobotoSerif_36pt-Medium.ttf") format("truetype");
 

}






@font-face {
  font-family: "Open Sans";
  src:url("../fonts/OpenSans-Medium.ttf") format("truetype");

}