#members{
    width:96vw;
}


table,
th,
td {
    box-sizing: border-box;

    border-collapse: collapse;

    font-size: 14px;
    word-wrap: break-word;
    border: none;
   
    


}

table {
    align-self: center;
    color: black;

    margin-top: 10px;
    


}

#events{
    width:94vw;
}

tr {

    background-color: white;
}

tr:nth-child(even) {
    background-color: antiquewhite
}


td,
th {
    border: 1px solid;
    cursor: pointer;

}

th {


    background-color: #336600;
    color: white;
    border-color: black;

}

td {

    text-align: left;
}



h2 {
    color: white;
}

@media only screen and (min-width: 1024px) {

/*
    tr>td:first-of-type {
        width: auto;
    }
*/

    table {

        max-width: 50vw;
        margin-bottom: 30px;

    }


    td {

        padding: 5px;

       

    }

    tr>td:first-of-type {
        width: 120px;
    }


}


