*{

    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: center;
    width: 96vw;
}


.thumbnails {
    display: flex;
    flex-direction: column;
    width: 140px;
    height: auto;
    padding: 5px;


}

.all_thumbnails {

    display: flex;
    justify-content: center;

    background-color: #336600;

    border: none;
    border-radius: 5px;


}

.thumbnails img {
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: 1;
    transition: 0.3s;

}



.mainDiv {



    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: 96vw;
    background-color: transparent;

}







figcaption {
    padding-bottom: 10px;
}





figure {

    
    margin: 0;
   padding-top: 10px;
   display: flex;
   flex-direction: column;
   justify-self: center;



}

.photo{
   padding-bottom:84px;
}

.gallery{
    height: 100px;
   
}

@media screen and (min-width: 1024px) {

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        align-self: center;
        background-color: transparent;
        margin-top: 10px;






    }

  

    .mainDiv {

        width: 960px;
        background-color: transparent;

        flex-direction: row;
        justify-content: flex-start;
    }



    figure img {


        border-style: solid;
        border-width: 10px;
        border-color: #336600;
        border-radius: 5px;
        background-color: transparent;

    }


    figure {


        margin-left: 100px;



    }

    .gallery{
        height: 154px;
       
    }



}

@media screen and (min-width: 1280px) {
    .mainDiv {

        width: 1300px;

    }

}