
@font-face {
    font-family: "Roboto Slab";
    src: url("/fonts/RobotoSlab-VariableFont_wght.ttf") format("truetype");

}

* {
    box-sizing: border-box;
    font-family: "Roboto Slab";
}

img{
    width:100%;
    height: auto;
}

body {
    background-image: linear-gradient(90deg, #009933 20%, #000000 50%);
    display: flex;
    justify-content: center;
    margin: 6px;
    

}

#images {
    display: flex;
    justify-content:center;
    align-items:baseline;

    width:96vw;

}



figure,figcaption{
    margin-left: 10px;
    margin-right:10px;
    
}

h2 {
    font-size: 26px;
    font-weight: 800;
}

p,
a {
 
    font-size: 20px;
    font-weight: 400;
}


.content {


    width: auto;


    background-color: antiquewhite;
    border: none;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;

}

img {
    border: none;
    border-radius: 5px;
    padding: 0;
}

figcaption {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: red;
}