a {
  text-decoration: none;
  color: blue;
  font-family: monospace;
  font-size: 12px;

}

a:hover {
  color: red;
}


h1 {
	font-size:26px;
  
}

body  {
  font-family: Monospace;
  font-size: 12px;
  background-color:#379804;
}

table {
	background-color:#fcf4e8;
	border-radius:10px;
	padding:5px;
	margin-bottom:20px;
}

.os {
	background-color:red;
	border-radius:10px;
	padding:5px;
	color:white;
	font-size:18px;
	font-weight:bold;
	letter-spacing:3px;
}

th {
	
	  font-size: 18px;
	  font-weight: bold;
}

 td, a {
	padding-right:10px;
	 font-size: 16px;
}
p {
	  
      font-size: 16px;
}

.fet {

      font-size: 18px;
	  font-weight: bold;
}
	
	.mono {
		font-family:monospace;
		background-color:powderblue;
		 font-size: 16px;
	}
