.dropdown-content {
    
  display: none;
  position: absolute;
  background-color: #fcf4e8;
  padding: 0;
  border:none;
  border-radius: 5px;
  /*
  background-color: #f9f9f9;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  */
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  
}

.dropdown-content a:hover {background-color: #fcf4e8;}

.dropdown:hover .dropdown-content {

  display: flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items: center;
  
}

a, .dropbtn {
  display: inline-block;
  color: #fcf4e8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*
a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
*/
.dropdown {
  display: inline-block;

}