

@font-face {
    /* sans */
    font-family: 'Heebo';
    src: url("../fonts/Heebo-VariableFont_wght.ttf");
   
  }
  
  @font-face {
    /* sans */
    font-family: 'Open Sans';
    src:url("../fonts/OpenSans-Medium.ttf");
  
  }
  

  @font-face {
    /*sans */
    font-family: 'Public Sans';
    src:url("../fonts/PublicSans-Regular.ttf");
  
  }
  
  @font-face {
    font-family: 'Roboto Mono';
    /* mono */
    src:url("../fonts/RobotoMono-VariableFont_wght.ttf");
  }

  @font-face {
    font-family: 'Roboto Mono italic';
    /* mono italic */
    src:url("../fonts/RobotoMono-Italic-VariableFont_wght.ttf");
  }

  @font-face {
    font-family: 'Roboto Serif 36pt';
    /* serif bold */
    src:url("../fonts/RobotoSerif_36pt-Medium.ttf");
  }

  @font-face {
    font-family: 'Roboto Slab';
    /* serif */
    src:url("../fonts/RobotoSlab-VariableFont_wght.ttf");
  }