* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
  background-image: linear-gradient(90deg, #004d1a 10%, #009933 50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

img {
  width:80%;
  height: auto;
  border: none;
  padding:0;
  border-radius: 3px;
}

.flag{
  width:48px;
  height: 48px;
  margin-left: 5px;
}

.link_flag{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin:0;
  padding: 0;
}

section figcaption,
figcaption {
  font-family: "Roboto Slab";
  font-size: 16px;
  font-weight: 400;
  font-style: italic;

}




nav,
footer {
  font-family: "Public Sans";

}



header {
  width: 96vw;
  margin-top: 10px;
  font-family: "Roboto Serif 36pt";
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: #fcf4e8;
  background-color: #336600;
  border-color: #336600;
  border-radius: 5px;
  font-size: 28px;
  font-weight: 800;
  padding: 3px;
}


footer {

  width: 96vw;
  display: flex;
  justify-content: center;
  align-items: center;


  margin-top: 30px;

  font-size: 14px;
  height: 80px;
  background-color: #336600;
  padding: 10px;
  border: none;
  border-radius: 5px;

  color: #fcf4e8;
  align-self: center;
  margin-bottom: 2em;



}

section,
nav {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Slab";
  font-variation-settings: normal;
  font-weight: 400;
  font-size: 16px;
  /*background-color: white;*/
  background-color:#fcf4e8;
  width: auto;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  width: 96vw;
  padding: 20px;
  color:#264d00;
 
 
}



.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 96vw;

}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 96vw;


}







/* button */

.btn-group {

  display: flex;
  justify-content: space-around;

  
  margin-top: 5px;


}


.btn-group .button {
  font-family: "Public Sans";
  width: 200px;
  height: 50px;
  font-size: 16px;
  margin-top: 10px;
  background-color: green;
  border-radius: 5px;
  border-bottom-color: #003311;
  border-right-color: #003311;
  border-top-color: #00e64d;
  border-left-color: #00e64d;
  border-width: 6px;
  color: #fcf4e8;
  background-color: #336600;
  /* Green */
  border: 1px solid green;

  border-radius: 5px;
  margin: 3px;

  text-decoration: none;

  cursor: pointer;

  width: 12em;
  height: 4ex;

  display: flex;
  justify-content: center;
  align-items: center;


}

.btn-group .button:not(:last-child) {
  border-right: none;
  /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: #3e8e41;
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* END button */

/* ancor */
a {

  text-decoration: none;
  color: blue;
}

a:hover {
  color: red;
}




h3 {

  font-family: "Roboto Slab";
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}


figure,
figcaption {

  margin: 0;

}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: yellow;
}

::selection {
  color: black;
  background: yellow;
}







@media only screen and (min-width: 1024px) {

  .content {
    flex-direction: row;
  }

  footer {
    flex-direction: row;
    justify-content: space-around;

  }

  nav {
  
    flex-shrink: 1;
     width:fit-content;
  }

  section {
    
 
    flex-shrink: 2;
  }


  section,
  nav {

    padding: 10px;
    margin: 10px;

  }

 

  header{
    font-size: 32px;
  }

img{
  width: 100%;
}

}

@media only screen and (min-width: 760px) {
  img{
    width:70%;
  }

}
