@font-face {
	font-family: 'Roboto Mono';
	/* mono */
	src: url("/fonts/RobotoMono-VariableFont_wght.ttf");
}


* {


	font-family: 'Roboto Mono';

	box-sizing: border-box;
	margin-left: 3px;



}



a {
	text-decoration: none;
	color: blue;


}

a:hover {
	color: red;
}

h1 {
	font-size: 26px;
}

.odd {

	background-color: #ffdd99;

}



body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	background-color: #379804;


}

table {

	background-color: #fcf4e8;
	border-radius: 5px;



	border-collapse: collapse;
	width: 98vw;
	margin-bottom: 10px;




}



.os {
	background-color: red;
	border-radius: 10px;
	padding: 5px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 3px;
}

th {

	font-size: 18px;
	font-weight: bold;

	text-align: left;



}

td {


	font-display: flex;
	justify-content: flex-start;

	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}


.fet {

	font-size: 18px;
	font-weight: bold;
}

.mono {

	background-color: powderblue;
	font-size: 16px;
}


@media only screen and (min-width: 1024px) {

	body {

		align-items: center;
	}


	table {


		width: auto;


	}

	td {

		padding-right: 30px;

	}


}